.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background: none;
}

.main::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.main {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #1D203E;
  z-index: 0;
  height: 100%;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: #2C2F48;

    &-search {
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      text-align: center;
      color: #fff;
      width: 100%;
      height: 25px;
      font-size: 13px;
      padding: 0;
    }

    &-search::placeholder {
      color: #fff;
      text-align: center;
      font-size: 13px;
    }

    &__wrapper-search {
      position: relative;
      width: 60%;

      &::before {
        content: url('../../icons/Search.svg');
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-2rem);
        margin: auto;
        height: 24px;
        width: 24px;
      }

      &.hide::before {
        display: none;
      }
    }
  }

  &__content {
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/Banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: 670/180;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: 'SF compact';
    margin-top: 2rem;
  }

  &__section {
    margin-top: 2rem;

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    &-title {
      font-size: 28px;
      font-weight: 600;
      font-family: 'SF compact';
      font-weight: 400;
    }

    &-link {
      font-size: 18px;
      font-family: 'SF compact';
      font-weight: 400;
      color: rgba(255, 255, 255, 0.55);
    }
  }

  &__wrapper-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;

    .main__card {
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 20px;
      padding: 12px;
      background-image: url('/img/virtual-reality.png');
      aspect-ratio: 320/208;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      z-index: 0;

      &::before {
        content: '';
        position: absolute;
        background: url('/img/background-card-blur.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        bottom: -1px;
        left: 0;
        right: 0;
        width: 100%;
        height: 60%;
        border-radius: 20px;
        z-index: -1;
      }

      &-img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: calc(50% - 40px);
        width: 64px;
        height: 64px;
      }

      &-content {
        height: 32%;
      }

      &-title {
        font-size: 22px;
        font-family: "SF compact";
        font-weight: 700;
        margin-bottom: .5rem;
      }

      &-description {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: .5rem;
      }

      &-online {
        color: rgba(255, 255, 255, 0.25);
      }

      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .col {
          display: flex;
          align-items: center;
          gap: 8px;

          .main__card-icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}