@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'SF compact';
  src: url(./SF-Compact-Display-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'SF compact';
  src: url(./SF-Compact-Rounded-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'SF compact';
  src: url(./SF-Compact-Display-Semibold.ttf);
  font-weight: 700;
}